$body_bg: #10051a;
$body_bg_light: #1b0b22;

$border: #919193;
$border_selected: #f1e488;

$panel_border_light: #4e6070;
$panel_border_dark: #1d2428;

$panel_bg: #40505d;
$panel_bg_dark: #242e38;

$text_light_gray: #9a9897;

$active_button_shading: #ffffff40;
