@font-face {
  font-family: "Bombardier";
  src: url(../assets/fonts/Bombardier.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Bombardier";
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel {
  background-color: #40505d;
  border: 4px solid #919193;
  padding: 8px;
}
.panel .heading h2 {
  color: #fff;
  padding-bottom: 4px;
}
.panel .heading p {
  color: #9a9897;
  font-size: 1.125em;
}
.panel .section {
  background-color: #242e38;
  border: 4px solid #1d2428;
  margin-top: 10px;
  min-height: 100px;
  padding: 6px;
}

.corners {
  position: relative;
}
.corners::after {
  background-image: url(../assets/images/treatments/corners.svg), url(../assets/images/treatments/corners.svg), url(../assets/images/treatments/corners.svg), url(../assets/images/treatments/corners.svg);
  background-position: -16px -16px, calc(100% + 16px) -16px, calc(100% + 16px) calc(100% + 16px), -16px calc(100% + 16px);
  background-repeat: no-repeat;
  content: "";
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
}

body {
  background: linear-gradient(135deg, #1b0b22 25%, transparent 25%), linear-gradient(225deg, #1b0b22 25%, transparent 25%), linear-gradient(315deg, #1b0b22 25%, transparent 25%), linear-gradient(45deg, #1b0b22 25%, transparent 25%);
  background-color: #10051a;
  background-position: top center;
  background-size: 40px 40px;
  height: 100%;
  width: 100%;
  padding: 24px;
}
body h2,
body h3,
body p,
body span {
  display: block;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2509803922);
  width: -moz-fit-content;
  width: fit-content;
}
body h2 {
  font-size: 2em;
}
body p {
  font-size: 1em;
}

#app {
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-height: 100%;
  margin: 0 auto;
  max-width: 1080px;
}

#display {
  flex-grow: 1;
}

#select {
  width: 362px;
}
#select #item-select {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(6, 48px);
}
#select #item-select li {
  height: 48px;
  position: relative;
}
#select #item-select li input {
  height: 100%;
  visibility: hidden;
  width: 100%;
}
#select #item-select li input:checked + label {
  border: 2px solid #ffffff;
}
#select #item-select li input:hover {
  cursor: pointer;
}
#select #item-select li label {
  height: 100%;
  left: 0;
  position: absolute;
  width: 48px;
}
#select #item-select li label img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 43.2px;
}
#select #item-select li label.item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#select #item-select li label.item.common {
  background-image: url(../assets/images/treatments/common.png);
}
#select #item-select li label.item.uncommon {
  background-image: url(../assets/images/treatments/uncommon.png);
}
#select #item-select li label:not(.checked):hover {
  outline: 2px solid white;
  outline-offset: 2px;
}
#select #item-select li:hover::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: #ffffff;
  opacity: 0.25;
  z-index: 100;
  content: "";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */