$body_bg: #10051a;
$body_bg_light: #1b0b22;

$border: #919193;
$border_selected: #f1e488;

$panel_border_light: #4e6070;
$panel_border_dark: #1d2428;

$panel_bg: #40505d;
$panel_bg_dark: #242e38;

$text_white: #fefefe;
$text_light_gray: #ccd3e0;
$text_gray: #9a9897;
$text_blue_gray: #8394b3;
$text_blue: #95cde5;
$text_blue_item: #327fff;
$text_green: #9ce562;
$text_green_item: #77ff16;
$text_yellow: #e5c962;
$text_yellow_item: #ffeb00;
$text_orange_item: #fa7f11;
$text_red: #e58262;
$text_red_item: #e7553b;
$text_pink_item: #ed7fcd;

$active_button_shading: #ffffff40;
