@font-face {
  font-family: "Bombardier";
  src: url(../assets/fonts/Bombardier.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Bombardier";
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
}
* img {
  display: block;
  pointer-events: none;
}

.panel {
  background-color: #40505d;
  padding: 12px;
  height: -moz-fit-content;
  height: fit-content;
  outline: 4px solid #4e6070;
  outline-offset: -8px;
}
.panel .heading h2 {
  padding-bottom: 4px;
}
.panel .content {
  background-color: #242e38;
  border: 4px solid #1d2428;
  margin-top: 10px;
}

.corners {
  position: relative;
  border: 4px solid #919193;
}
.corners::after {
  background-image: url(../assets/images/treatments/corners.svg), url(../assets/images/treatments/corners.svg), url(../assets/images/treatments/corners.svg), url(../assets/images/treatments/corners.svg);
  background-position: -16px -16px, calc(100% + 16px) -16px, calc(100% + 16px) calc(100% + 16px), -16px calc(100% + 16px);
  background-repeat: no-repeat;
  content: "";
  height: calc(100% + 8px);
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: -4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(100% + 8px);
}

.item {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #919193;
  position: relative;
  width: 100%;
  height: 100%;
}
.item img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 85%;
}
.item.common {
  background-image: url(../assets/images/treatments/common.png);
}
.item.uncommon {
  background-image: url(../assets/images/treatments/uncommon.png);
}
.item.legendary {
  background-image: url(../assets/images/treatments/legendary.png);
}
.item.boss {
  background-image: url(../assets/images/treatments/boss.png);
}
.item.void {
  background-image: url(../assets/images/treatments/void.png);
}
.item.lunar {
  background-image: url(../assets/images/treatments/lunar.png);
}
.item.equipment, .item.elite {
  background-image: url(../assets/images/treatments/equipment.png);
}

.text.gray {
  color: #9a9897;
}
.text.light-gray {
  color: #ccd3e0;
}
.text.blue-gray {
  color: #8394b3;
}
.text.blue {
  color: #95cde5;
}
.text.green {
  color: #9ce562;
}
.text.uncommon {
  color: #77ff16;
}
.text.yellow {
  color: #e5c962;
}
.text.boss {
  color: #ffeb00;
}
.text.equipment {
  color: #fa7f11;
}
.text.red {
  color: #e58262;
}
.text.legendary {
  color: #e7553b;
}
.text.void {
  color: #ed7fcd;
}

.calc {
  background-color: #1d2428;
  border: 2px solid #1d2428;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.calc.triple {
  grid-template-columns: repeat(3, 1fr);
}
.calc #input,
.calc #modifier,
.calc #output {
  background-color: #242e38;
  position: relative;
}
.calc img {
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}
.calc input {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
}
.calc input.input {
  padding-left: 44px;
}
.calc input.output {
  padding-right: 12px;
  text-align: right;
}
@media only screen and (min-width: 477px) {
  .calc {
    width: 256px;
  }
  .calc.triple {
    width: 384px;
  }
}
@media only screen and (max-width: 476px) {
  .calc {
    width: 100%;
  }
}

body {
  background: linear-gradient(135deg, #1b0b22 25%, transparent 25%), linear-gradient(225deg, #1b0b22 25%, transparent 25%), linear-gradient(315deg, #1b0b22 25%, transparent 25%), linear-gradient(45deg, #1b0b22 25%, transparent 25%);
  background-color: #10051a;
  background-position: top center;
  background-size: 40px 40px;
  height: 100%;
  padding: 24px;
  scrollbar-width: none;
  width: 100%;
}
body h2,
body h3,
body p,
body span {
  display: block;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2509803922);
  width: -moz-fit-content;
  width: fit-content;
  color: #fefefe;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  body h2,
  body h3,
  body p,
  body span {
    -webkit-text-size-adjust: 100%;
  }
}
body h2 {
  font-size: 2em;
}
body h3 {
  margin-bottom: 6px;
  font-size: 1.33em;
}
body p {
  font-size: 1.125em;
}
body span {
  display: inline-block;
}
body span.inline.img {
  height: 100%;
  margin-left: 3px;
  position: relative;
  width: 24px;
}
body span.inline.img img {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
body input {
  font-size: 1.125em;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
body input:focus {
  outline: none;
}
@media only screen and (max-width: 887px) {
  body {
    padding: 12px;
  }
}
body::-webkit-scrollbar {
  display: none;
}

#app {
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-height: 100%;
  margin: 0 auto 48px;
  max-width: 1080px;
}
@media only screen and (max-width: 887px) {
  #app {
    flex-direction: column-reverse;
  }
}

#display {
  flex-grow: 1;
  scroll-margin: 12px;
}
#display p {
  line-height: 1.4em;
}
#display #item-info .heading {
  align-items: center;
  display: flex;
}
#display #item-info .heading .corners {
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
#display #item-info .heading .corners img {
  padding: 4px;
  width: 64px;
}
#display #item-info .content {
  padding: 6px;
}
#display #item-info .content .section {
  background-color: #40505d;
  border: 4px solid #4e6070;
  padding: 8px;
}
#display #item-info .content .section > p:not(:last-child) {
  margin-bottom: 10px;
}
#display #item-info .content .section .proc-info {
  background-color: #1d2428;
  border: 2px solid #1d2428;
  display: flex;
  gap: 2px;
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
}
#display #item-info .content .section .proc-info li {
  align-items: center;
  background-color: #242e38;
  display: flex;
  height: 100%;
  padding-left: 8px;
  width: 144px;
}
#display #item-info .content .section .proc-info li p {
  color: #9a9897;
}
#display #item-info .content .section .proc-info li:last-child {
  padding-right: 12px;
}
#display #item-info .content .section .proc-info li:last-child p:last-child {
  margin: 0 0 0 auto;
}
#display #item-info .content .section .proc-info:not(:first-of-type) {
  border-top: none;
}
#display #item-info .content .section:not(:last-child) {
  margin-bottom: 12px;
}
#display #item-info .content .section:not(:first-child) p {
  color: #ccd3e0;
}
#display #item-info .content.synergy {
  display: flex;
  gap: 32px;
  margin-bottom: 6px;
  padding: 6px;
}
#display #item-info .content.synergy .item {
  height: 48px;
  position: relative;
  width: 48px;
}
#display #item-info .content.synergy .item:not(:last-child)::after {
  background: url(../assets/images/treatments/plus-sign.svg) center no-repeat;
  content: "";
  height: 16px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

#select {
  height: -moz-fit-content;
  height: fit-content;
}
#select #item-select {
  display: grid;
  gap: 6px;
  grid-auto-rows: 48px;
  grid-template-columns: repeat(6, 48px);
  max-height: 234px;
  overflow-y: auto;
  padding: 6px;
  scrollbar-width: none;
}
#select #item-select li {
  line-height: 0.75em;
}
#select #item-select li button:hover {
  cursor: pointer;
}
#select #item-select li:hover {
  outline: 2px solid #f1e488;
  outline-offset: 2px;
}
@media only screen and (max-width: 887px) {
  #select #item-select {
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  }
}
@media only screen and (max-width: 393px) {
  #select #item-select {
    grid-template-columns: repeat(6, 1fr);
  }
}
#select #item-select::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=style.css.map */